*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin-top: 1%;
    background-color: #CAF0F8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo-container{
    text-align: center;
}
.logo{
    width: 138px;
    height: 121px;
}
.upcoming-Events{
    margin: 5% auto;
    width: 90%;
    background-color: #03045e;
    border-radius: 25px;
}
.ue-head{
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: #00B4D8;
    height: 70px;
    font-size: 30px;
}
.ue-head span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.events{
    padding: 2%;
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.events:nth-child(n){
    text-align: center;
}
.events:nth-child(n) h3{
    margin: 3% 0%;
}
.membership-benefits{
    margin: 5% auto;
    width: 90%;
    background-color: #03045e;
    border-radius: 25px;
    padding-bottom: 1%;
}
.contact{
  text-align: left;
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  color:#ffffff;
  font-size: medium;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2%;
}
.mb-head{
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: #00B4D8;
    height: 70px;
    font-size: 30px;
}
.mb-head span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits{
    padding: 2%;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.submit{
    width: 400px;
    font-size: 22px;
    border-radius: 23px;
    background-color: #3254ff;
    color: white;
    height: 71px;
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}
.submit:hover{
    background-color: #667ffa;
    transition-duration: 500ms;
}
.new-registration{
    background-color: #03045e!important;
    margin-bottom: 3%;
}
.new-registration:hover{
    background-color: #4d4e8b!important;
}
a{
    text-decoration: none;
}
.link{
  display: block;
  width: fit-content;
  margin: auto;
}

footer{
  display: flex;
  height: 60px;
  width: 100%;
  background-color:#202332;
  align-items: center;
  justify-content: space-around;
}
.text{
  font-size: 17px;
}
.foot-text-color{
  color: #ffffff87;
}
.sm-logos img{
  height: 25px;
  width: 25px;
}
.logo-gap{
  margin : 0px 10px 0px 10px ;
}

/************************
RESPONSIVE STYLES
*************************/
@media screen and (max-width: 768px) and (min-width: 691px){
    .text{
      font-size: 18px;
    }
    .sm-logos img {
      height: 30px;
      width: 30px;
    }
    .imgs{
        height: 70px;
    }
  }
  @media screen and (max-width: 690px) and (min-width: 427px){
    .events{
      display: flex;
      flex-direction: column;
    }
    .imgs{
      height: 180px;
    }
    .event-1,.event-2,.event-3,.event-4{
      padding: 2% 0%;
  }
  .text{
    font-size: 10px;
  }
  .sm-logos img {
    height: 15px;
    width: 15px;
  }
  .submit{
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
  }
  @media screen and (max-width: 427px) and (min-width: 376px){
    .text{
      font-size: 10px;
    }
    .submit{
      height: 50px;
      width: 200px;
    }
    .sm-logos img {
      width: 15px;
      height:15px;
    }
    .logo-gap {
      margin: 0px 7px 0px px;
  }
    .mb-head,.ue-head{
      height: 40px;
      font-size: 20px;
  }
  .events{
      display: flex;
      flex-direction: column;
  }
  .imgs{
      height: 120px;
  }
  .event-1,.event-2,.event-3,.event-4{
      padding: 2% 0%;
  }
  }
  @media screen and (max-width: 376px){
    .text{
      font-size: 8px;
    }
    .logo{
      height: 80px;
      width: 80px;
    }
    .submit{
        height: 30px;
        width: 150px;
        font-size: 15px;
    }
    .sm-logos img {
      height: 15px;
      width: 15px;
    }
    .logo-gap {
      margin: 0px 5px 0px 5px;
  }
    .mb-head,.ue-head{
        height: 40px;
        font-size: 20px;
    }
    .events{
        display: flex;
        flex-direction: column;
    }
    .imgs{
        height: 70px;
    }
    .event-1,.event-2,.event-3,.event-4{
        padding: 2% 0%;
    }
  footer{
    height: 40px;
  }
  }
