/**{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin-top: 1%;
    background-color: #CAF0F8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo-container{
    text-align: center;
}
.logo{
    width: 138px;
    height: 121px;
}
.main-container h1{
    background-color: #03045E;
    width: fit-content;
    padding: 20px 30px;
    color: white;
    margin: auto;
    border-radius: 25px;
    font-size: 32px;
}
.hero-section{
    margin: 2% 5%;
}
.hero-section h2{
    font-size: 32px;
    font-weight: 600;
}
.hero-section p{
    margin-top: 2%;
    font-size: 30px;
    text-align: justify;
}
.form{
    background-color: #03045E;
    padding: 2% 3%;
    color: white;
    margin: 2% 5%;
    border-radius: 33px;
    font-size: 22px;
}
.team-size{
    margin-bottom: 2%;
}


/************
dropdown
************/
.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 7%;
}

.dropdown-select {
  padding: 12px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #00B4D8;
  width: 300px;
  color: black;
  padding-left: 10%;
  margin: 5% 0%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-options {
  display: none;
  position: absolute;
  color: black;
  width: 300px;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-option {
  padding: 12px;
  cursor: pointer;
  background-color: #00B4D8;
  margin-bottom: 1%;
  padding-left: 10%;
  border: 2px solid black;
  transition: background-color 0.2s;
  border-radius: 8px;
  color: black;
}

/* Hover effect for options */
.dropdown-option:hover {
  background-color: #0077B6;
}
select{
  margin-top: 5px;
}
#teamsize{
  margin: 0% 0%;
}
.ts{
  background-color: #00B4D8;
}
.tsp{
  width: 30%;
  margin: 2% 0%;
}


/******************
inputfield
******************/

.form__group {
    position: relative;
    padding: 15px 0 0;
    border: 2px solid black;
    background-color: #00B4D8;
    margin-top: 3%;
    height: 60px;
    width: 100%;
    margin-left: 7%;
    border-radius: 5px;
}
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    padding-left: 5%;
    font-size: 1.3rem;
    color: black;
    padding: 0px 5%;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__label{
    color: black;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    background-color: transparent;
    padding-left: 5%;
    top: 15px;
  }
  
  .form__label {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1rem;
    padding-left: 5%;
    transition: 0.2s;
  }
  
  .form__field:focus {
    padding-bottom: 0px;
    padding-left: 5%;
    background-color: transparent;
    border-width: 3px;
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    padding-left: 5%;
    background-color: transparent;
    font-size: 1rem;
  }
  
  /* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.war{
  display: none;
  margin-left: 7%;
  font-size: small;
}
.war-active{
  display: block!important;
  color: red;
}

  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
    padding-left: 5%;
    background-color: transparent;
  }

  .participants > div{
    margin-bottom: 2%;
  }
  .column{
    display: flex;
    flex-wrap: wrap;
  }

  .fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

  a{
    text-decoration: none;
    color: black;
    width: fit-content;
  }

  .link{
    display: block;
    width: fit-content;
    margin: auto;
  }

  .submit{
    width: 400px;
    font-size: 22px;
    border-radius: 23px;
    background-color: #03045E;
    color: white;
    height: 71px;
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    margin: 3% auto;
}
.submit:hover{
    background-color: #4D4E8B;
    transition-duration: 500ms;
}

footer{
  display: flex;
  height: 50px;
  width: 100%;
  background-color:#202332;
  align-items: center;
  justify-content: space-around;
}
.text{
  font-size: 17px;
}
.foot-text-color{
  color: #ffffff87;
}
.sm-logos img{
  height: 25px;
  width: 25px;
}
.logo-gap{
  margin : 0px 5px;
} 

/************************
RESPONSIVE STYLES
*************************/
@media screen and (max-width: 768px) and (min-width: 426px){
  .text{
    font-size: 12px;
  }
  .sm-logos img {
    height: 20px;
    width: 20px;
  }
  .hero-section p {
    font-size: 20px;
  }
  .tsp{
    width: 50%;
  }
}
@media screen and (max-width: 427px) and (min-width: 400px){
  .text{
    font-size: 13px!important;
  }
  .sm-logos img {
    width: 18px!important;
    height: 18px!important;
  }
}
@media screen and (max-width: 427px) and (min-width: 376px){
  .text{
    font-size: 11px;
  }
  .logo-gap{
    margin: 0px 3px;
  }
  .fields{
    display: block;
  }
  .form__field{
    height: 30px;
  }
  .dropdown-select{
    width: 300px;
  }
  .dropdown-option{
    width: 300px;
  }
  .arrow{
    right: -45%;
  }
  .submit{
    height: 50px;
    width: 200px;
  }
  .sm-logos img {
    height: 15px;
    width: 15px;
  }
  .hero-section p {
    font-size: 20px;
  }
  .form__group{
    width: 300px;
  }
  .column{
    display: block;
  }
  h1{
    font-size: 25px!important;
  }h2{
    font-size: 22px!important;
  }
  .tsp{
    margin-left: 7%;
  }
}
/*@media screen and (max-width: 376px){
  .text{
    font-size: 8px;
  }
  .fields{
    display: block;
  }
  .form__field{
    height: 25px;
  }
  .logo{
    height: 80px;
    width: 80px;
  }
  .dropdown-select{
    width: 240px;
  }
  .dropdown-option{
    width: 240px;
  }
  .arrow{
    right: -32%;
  }
  .submit{
    height: 50px;
    width: 200px;
  }
  .sm-logos img {
    height: 10px;
    width: 10px;
  }
  .hero-section p {
    font-size: 18px;
  }
  .form__group{
    width: 235px;
  }
  .column{
    display: block;
  }
  h1{
    font-size: 20px!important;
  }h2{
    font-size: 18px!important;
  }
  .form{
    border-radius: 15px;
}
.tsp{
  margin-left: 7%;
}
footer{
  height: 40px;
}*/
@media screen and (max-width: 376px){
  .text{
    font-size: 9px;
  }
  .fields{
    display: block;
  }
  .form__field{
    height: 25px;
  }
  .logo{
    height: 80px;
    width: 80px;
  }
  .dropdown-select{
    width: 240px;
  }
  .dropdown-option{
    width: 240px;
  }
  .arrow{
    right: -32%;
  }
  .submit{
    height: 50px;
    width: 200px;
  }
  .sm-logos img {
    height: 15px;
    width: 15px;
  }
  .logo-gap{
    margin: 0px 3px;
  }
  .hero-section p {
    font-size: 18px;
  }
  .form__group{
    width: 235px;
  }
  .column{
    display: block;
  }
  h1{
    font-size: 20px!important;
  }h2{
    font-size: 18px!important;
  }
  .form{
    border-radius: 15px;
}
.tsp{
  margin-left: 7%;
}
footer{
  height: 45px;
}
}
